* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: local('Yandex Sans Text Thin'), local('YandexSansText-Thin'),
    url('/fonts/YandexSansText-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: local('Yandex Sans Text Regular Italic'), local('YandexSansText-RegularItalic'),
    url('/fonts/YandexSansText-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: local('Yandex Sans Text Regular'), local('YandexSansText-Regular'),
    url('/fonts/YandexSansText-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: local('Yandex Sans Text Light'), local('YandexSansText-Light'),
    url('/fonts/YandexSansText-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: local('Yandex Sans Text Bold'), local('YandexSansText-Bold'),
    url('/fonts/YandexSansText-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Yandex Sans Text';
    src: local('Yandex Sans Text Medium'), local('YandexSansText-Medium'),
    url('/fonts/YandexSansText-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}


body {
    font-family: 'Yandex Sans Text', sans-serif;
    background-color: #141414;
    color: white
}

.releaseDate {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    padding: 30px;
}

.album {
    width: 100%;
    margin: 0 auto;

}
.album--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.image {
    width: 300px;
    border-radius: 8px;
}
.album--info {
    width: 300px;
}
.title {
}

.author {
    color: #808080;
    font-weight: 500;
}

.track--wrapper {
    display: flex;
    column-gap: 5px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: all 0.5s ease-out;
}

.track--show {
    max-height: 60px;
    padding-top: 20px;
    opacity: 1;
    transform: translateY(0);
}

.track--hide {
    padding-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
}

.track--position {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    color: #808080;
    margin-right: 6px;
}
.track--title {
    font-size: 16px;
    font-weight: 400;
    display: inline;
    color: white;
    text-decoration: none;
}

.feat {
    color: #808080;
    font-weight: 300;
    font-size: 13px;
}

@media screen and (min-width: 800px) {
    .image {
        width: 400px;
    }
    .album--info {
        width: 400px;
    }
}